# Setup

In [1]:
import sys
!{sys.executable} -m pip install pulp
import pulp
from pulp import *
from plotly.subplots import make_subplots
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
pd.set_option("display.precision", 3)

Requirement already satisfied: pulp in /Users/amy/miniforge3/lib/python3.9/site-packages (2.7.0)

In [2]:
# nutrients and monthly cost
data = pd.read_csv("data/cleaned_data.csv")
data = data.iloc[: , 1:]
data.columns = ['Food', 'Grams', 'Calories', 'Protein', 'Fiber', 'Carbs', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [3]:
vals = data.iloc[: , 2:6]
vals

    Calories  Protein  Fiber  Carbs
0         70        0    1.0     18
1         95        4    0.0      1
2         85        1    0.9     23
3         86        3    2.4     16
4        120       17    0.0      0
5         50        2    1.0      9
6         45        1    0.9     10
7        185       23    0.0      0
8        150       12    0.0      0
9        245       23    0.0      0
10        80        2    1.6     18
11        60        2    1.0     16
12       129        9    0.0     12
13       100        2    0.5     22
14        78        5    0.0      0

In [4]:
names = data.iloc[: , 0:1]
names

                       Food
0                    Apples
1                     Bacon
2                   Bananas
3                     Bread
4             Canned salmon
5           Canned tomatoes
6                   Carrots
7                   Chicken
8                      Eggs
9               Ground beef
10                   Onions
11                  Oranges
12      Partly skimmed milk
13                 Potatoes
14  Processed cheese slices

In [5]:
grams = data.iloc[: , 1:2]
grams

    Grams
0     130
1      16
2     150
3      35
4      85
5     240
6     150
7      85
8     100
9      85
10    210
11    180
12    258
13    100
14     21

In [6]:
nutrients = pd.concat([names, vals], axis=1, join='inner')
nutrients

                       Food  Calories  Protein  Fiber  Carbs
0                    Apples        70        0    1.0     18
1                     Bacon        95        4    0.0      1
2                   Bananas        85        1    0.9     23
3                     Bread        86        3    2.4     16
4             Canned salmon       120       17    0.0      0
5           Canned tomatoes        50        2    1.0      9
6                   Carrots        45        1    0.9     10
7                   Chicken       185       23    0.0      0
8                      Eggs       150       12    0.0      0
9               Ground beef       245       23    0.0      0
10                   Onions        80        2    1.6     18
11                  Oranges        60        2    1.0     16
12      Partly skimmed milk       129        9    0.0     12
13                 Potatoes       100        2    0.5     22
14  Processed cheese slices        78        5    0.0      0

In [7]:
calories_df = nutrients.iloc[:, 1:2]
calories_df

    Calories
0         70
1         95
2         85
3         86
4        120
5         50
6         45
7        185
8        150
9        245
10        80
11        60
12       129
13       100
14        78

In [8]:
protein_df = nutrients.iloc[:, 2:3]
protein_df

    Protein
0         0
1         4
2         1
3         3
4        17
5         2
6         1
7        23
8        12
9        23
10        2
11        2
12        9
13        2
14        5

In [9]:
fiber_df = nutrients.iloc[:, 3:4]
fiber_df

    Fiber
0     1.0
1     0.0
2     0.9
3     2.4
4     0.0
5     1.0
6     0.9
7     0.0
8     0.0
9     0.0
10    1.6
11    1.0
12    0.0
13    0.5
14    0.0

In [10]:
carbs_df = nutrients.iloc[:, 4:5]
carbs_df

    Carbs
0      18
1       1
2      23
3      16
4       0
5       9
6      10
7       0
8       0
9       0
10     18
11     16
12     12
13     22
14      0

In [11]:
cal_grams = np.divide(calories_df, grams)
cal_grams

/var/folders/np/zm_c7bn14sd2z1b26gb12cwh0000gn/T/ipykernel_89241/3293866132.py:1: FutureWarning: Calling a ufunc on non-aligned DataFrames (or DataFrame/Series combination). Currently, the indices are ignored and the result takes the index/columns of the first DataFrame. In the future , the DataFrames/Series will be aligned before applying the ufunc.
Convert one of the arguments to a NumPy array (eg 'ufunc(df1, np.asarray(df2)') to keep the current behaviour, or align manually (eg 'df1, df2 = df1.align(df2)') before passing to the ufunc to obtain the future behaviour and silence this warning.
  cal_grams = np.divide(calories_df, grams)

    Calories
0      0.538
1      5.938
2      0.567
3      2.457
4      1.412
5      0.208
6      0.300
7      2.176
8      1.500
9      2.882
10     0.381
11     0.333
12     0.500
13     1.000
14     3.714

In [12]:
protein_grams = np.divide(protein_df, grams)
fiber_grams = np.divide(fiber_df, grams)
carbs_grams = np.divide(carbs_df, grams)

/var/folders/np/zm_c7bn14sd2z1b26gb12cwh0000gn/T/ipykernel_89241/2605494374.py:1: FutureWarning: Calling a ufunc on non-aligned DataFrames (or DataFrame/Series combination). Currently, the indices are ignored and the result takes the index/columns of the first DataFrame. In the future , the DataFrames/Series will be aligned before applying the ufunc.
Convert one of the arguments to a NumPy array (eg 'ufunc(df1, np.asarray(df2)') to keep the current behaviour, or align manually (eg 'df1, df2 = df1.align(df2)') before passing to the ufunc to obtain the future behaviour and silence this warning.
  protein_grams = np.divide(protein_df, grams)
/var/folders/np/zm_c7bn14sd2z1b26gb12cwh0000gn/T/ipykernel_89241/2605494374.py:2: FutureWarning: Calling a ufunc on non-aligned DataFrames (or DataFrame/Series combination). Currently, the indices are ignored and the result takes the index/columns of the first DataFrame. In the future , the DataFrames/Series will be aligned before applying the ufunc.
Convert one of the arguments to a NumPy array (eg 'ufunc(df1, np.asarray(df2)') to keep the current behaviour, or align manually (eg 'df1, df2 = df1.align(df2)') before passing to the ufunc to obtain the future behaviour and silence this warning.
  fiber_grams = np.divide(fiber_df, grams)
/var/folders/np/zm_c7bn14sd2z1b26gb12cwh0000gn/T/ipykernel_89241/2605494374.py:3: FutureWarning: Calling a ufunc on non-aligned DataFrames (or DataFrame/Series combination). Currently, the indices are ignored and the result takes the index/columns of the first DataFrame. In the future , the DataFrames/Series will be aligned before applying the ufunc.
Convert one of the arguments to a NumPy array (eg 'ufunc(df1, np.asarray(df2)') to keep the current behaviour, or align manually (eg 'df1, df2 = df1.align(df2)') before passing to the ufunc to obtain the future behaviour and silence this warning.
  carbs_grams = np.divide(carbs_df, grams)

In [13]:
cal_grams_max = cal_grams/cal_grams.max()
fiber_grams_max = fiber_grams/fiber_grams.max()
carbs_grams_max = carbs_grams/carbs_grams.max()
protein_grams_max = protein_grams/protein_grams.max()

In [14]:
nutrients_df = pd.concat([names, cal_grams_max, protein_grams_max, fiber_grams_max, carbs_grams_max ], axis=1, join='inner')
nutrients_df

                       Food  Calories  Protein  Fiber  Carbs
0                    Apples     0.091    0.000  0.112  0.303
1                     Bacon     1.000    0.924  0.000  0.137
2                   Bananas     0.095    0.025  0.087  0.335
3                     Bread     0.414    0.317  1.000  1.000
4             Canned salmon     0.238    0.739  0.000  0.000
5           Canned tomatoes     0.035    0.031  0.061  0.082
6                   Carrots     0.051    0.025  0.087  0.146
7                   Chicken     0.367    1.000  0.000  0.000
8                      Eggs     0.253    0.443  0.000  0.000
9               Ground beef     0.485    1.000  0.000  0.000
10                   Onions     0.064    0.035  0.111  0.188
11                  Oranges     0.056    0.041  0.081  0.194
12      Partly skimmed milk     0.084    0.129  0.000  0.102
13                 Potatoes     0.168    0.074  0.073  0.481
14  Processed cheese slices     0.626    0.880  0.000  0.000

In [15]:
# nutrients_df.to_csv("nutrient_df.csv", encoding='utf-8', index=False)

In [16]:
sum_nutrients = nutrients_df.sum(axis=1)
sum_vals = pd.DataFrame(sum_nutrients)
sum_vals

/var/folders/np/zm_c7bn14sd2z1b26gb12cwh0000gn/T/ipykernel_89241/396984446.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  sum_nutrients = nutrients_df.sum(axis=1)

        0
0   0.506
1   2.061
2   0.543
3   2.731
4   0.977
5   0.209
6   0.308
7   1.367
8   0.696
9   1.485
10  0.398
11  0.373
12  0.315
13  0.797
14  1.505

In [17]:
df_3 = pd.concat([nutrients_df, sum_vals], axis=1, join='inner')
df_3.columns = ["Food", "Calories", "Protein", "Fiber", "Carbs", "Total Nutritional Value"]
df_3

,Food,Calories,Protein,Fiber,Carbs,Total Nutritional Value
0,Apples,0.091,0.000,0.112,0.303,0.506
1,Bacon,1.000,0.924,0.000,0.137,2.061
2,Bananas,0.095,0.025,0.087,0.335,0.543
3,Bread,0.414,0.317,1.000,1.000,2.731
4,Canned salmon,0.238,0.739,0.000,0.000,0.977
5,Canned tomatoes,0.035,0.031,0.061,0.082,0.209
6,Carrots,0.051,0.025,0.087,0.146,0.308
7,Chicken,0.367,1.000,0.000,0.000,1.367
8,Eggs,0.253,0.443,0.000,0.000,0.696
9,Ground beef,0.485,1.000,0.000,0.000,1.485
10,Onions,0.064,0.035,0.111,0.188,0.398
11,Oranges,0.056,0.041,0.081,0.194,0.373
12,Partly skimmed milk,0.084,0.129,0.000,0.102,0.315
13,Potatoes,0.168,0.074,0.073,0.481,0.797
14,Processed cheese slices,0.626,0.880,0.000,0.000,1.505

In [18]:
prices = data.iloc[: , 6:]
prices = pd.concat([names, prices], axis=1, join='inner')
prices

,Food,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,Apples,4.53,4.49,4.57,4.55,4.64,4.66,4.79,4.97,4.90,4.61,4.44,4.76
1,Bacon,7.32,7.44,7.29,7.69,7.89,7.79,7.99,8.24,8.27,8.29,8.47,8.66
2,Bananas,1.56,1.57,1.56,1.56,1.56,1.56,1.56,1.60,1.60,1.60,1.60,1.61
3,Bread,2.79,2.87,2.82,2.85,2.88,2.82,2.80,2.82,2.81,2.84,2.89,2.98
4,Canned salmon,6.67,6.60,6.48,6.41,6.23,6.53,6.64,6.53,6.41,6.66,6.53,6.53
5,Canned tomatoes,1.45,1.48,1.49,1.60,1.60,1.63,1.58,1.74,1.70,1.65,1.57,1.71
6,Carrots,2.25,2.34,2.33,2.43,2.49,2.52,2.64,2.37,2.40,2.32,2.36,2.43
7,Chicken,7.35,7.00,7.73,7.87,7.76,7.72,8.07,8.13,8.30,8.51,8.18,7.87
8,Eggs,3.64,3.62,3.77,3.80,3.74,3.75,3.74,3.91,3.82,3.87,3.87,3.82
9,Ground beef,11.55,11.06,11.22,11.53,11.28,11.00,11.31,11.56,11.86,12.31,12.46,12.06
10,Onions,2.29,2.32,2.31,2.25,2.35,2.38,2.45,2.44,2.31,2.14,2.29,2.25
11,Oranges,3.59,3.77,3.61,3.66,3.90,4.04,3.97,3.88,3.90,4.02,4.12,4.11
12,Partly skimmed milk,5.30,5.48,5.49,5.50,5.51,5.48,5.51,5.49,5.49,5.52,5.50,5.52
13,Potatoes,10.34,10.09,10.31,10.23,10.58,10.50,10.72,10.67,10.19,10.17,9.89,10.36
14,Processed cheese slices,2.69,2.79,2.84,2.77,2.83,2.81,2.72,2.77,2.61,2.66,2.63,2.63

In [19]:
df = pd.DataFrame()
for i in range(0,15):
    x_i = prices.iloc[i : i+1, 1: ]
    x_i = sum_vals[0][i]/x_i
    df = pd.concat([df, x_i])

In [20]:
c = pd.concat([names, df], axis=1, join='inner')
c

,Food,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,Apples,0.112,0.113,0.111,0.111,0.109,0.109,0.106,0.102,0.103,0.110,0.114,0.106
1,Bacon,0.282,0.277,0.283,0.268,0.261,0.265,0.258,0.250,0.249,0.249,0.243,0.238
2,Bananas,0.348,0.346,0.348,0.348,0.348,0.348,0.348,0.339,0.339,0.339,0.339,0.337
3,Bread,0.979,0.951,0.968,0.958,0.948,0.968,0.975,0.968,0.972,0.961,0.945,0.916
4,Canned salmon,0.146,0.148,0.151,0.152,0.157,0.150,0.147,0.150,0.152,0.147,0.150,0.150
5,Canned tomatoes,0.144,0.141,0.140,0.130,0.130,0.128,0.132,0.120,0.123,0.126,0.133,0.122
6,Carrots,0.137,0.132,0.132,0.127,0.124,0.122,0.117,0.130,0.129,0.133,0.131,0.127
7,Chicken,0.186,0.195,0.177,0.174,0.176,0.177,0.169,0.168,0.165,0.161,0.167,0.174
8,Eggs,0.191,0.192,0.185,0.183,0.186,0.186,0.186,0.178,0.182,0.180,0.180,0.182
9,Ground beef,0.129,0.134,0.132,0.129,0.132,0.135,0.131,0.128,0.125,0.121,0.119,0.123
10,Onions,0.174,0.172,0.172,0.177,0.169,0.167,0.162,0.163,0.172,0.186,0.174,0.177
11,Oranges,0.104,0.099,0.103,0.102,0.096,0.092,0.094,0.096,0.096,0.093,0.090,0.091
12,Partly skimmed milk,0.059,0.057,0.057,0.057,0.057,0.057,0.057,0.057,0.057,0.057,0.057,0.057
13,Potatoes,0.077,0.079,0.077,0.078,0.075,0.076,0.074,0.075,0.078,0.078,0.081,0.077
14,Processed cheese slices,0.560,0.540,0.530,0.543,0.532,0.536,0.553,0.543,0.577,0.566,0.572,0.572

# Decision Variables

In [21]:
prob = pulp.LpProblem("diet_prob", LpMaximize)

In [22]:
food_vars = ['apple', 'bacon', 'bananas', 'bread', 'salmon', 'tomatoes', 'carrots', 'chicken', 'eggs', 'beef', 'onions', 'oranges', 'milk', 'potatoes', 'cheese']
month_vars = ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sept', 'oct', 'nov', 'dec']

In [23]:
vars = LpVariable.dicts("var", ((food, month) for food in food_vars for month in month_vars), lowBound=0)

In [24]:
b = list(vars.values())
l = []
a = 0;
for i in range(0,15):
     for j in range(1,13):
        l.append(c.iloc[i,j]*b[a])
        a += 1

In [25]:
b

[var_('apple',_'jan'),
 var_('apple',_'feb'),
 var_('apple',_'mar'),
 var_('apple',_'apr'),
 var_('apple',_'may'),
 var_('apple',_'jun'),
 var_('apple',_'jul'),
 var_('apple',_'aug'),
 var_('apple',_'sept'),
 var_('apple',_'oct'),
 var_('apple',_'nov'),
 var_('apple',_'dec'),
 var_('bacon',_'jan'),
 var_('bacon',_'feb'),
 var_('bacon',_'mar'),
 var_('bacon',_'apr'),
 var_('bacon',_'may'),
 var_('bacon',_'jun'),
 var_('bacon',_'jul'),
 var_('bacon',_'aug'),
 var_('bacon',_'sept'),
 var_('bacon',_'oct'),
 var_('bacon',_'nov'),
 var_('bacon',_'dec'),
 var_('bananas',_'jan'),
 var_('bananas',_'feb'),
 var_('bananas',_'mar'),
 var_('bananas',_'apr'),
 var_('bananas',_'may'),
 var_('bananas',_'jun'),
 var_('bananas',_'jul'),
 var_('bananas',_'aug'),
 var_('bananas',_'sept'),
 var_('bananas',_'oct'),
 var_('bananas',_'nov'),
 var_('bananas',_'dec'),
 var_('bread',_'jan'),
 var_('bread',_'feb'),
 var_('bread',_'mar'),
 var_('bread',_'apr'),
 var_('bread',_'may'),
 var_('bread',_'jun'),
 var_('bread',_'jul'),
 var_('bread',_'aug'),
 var_('bread',_'sept'),
 var_('bread',_'oct'),
 var_('bread',_'nov'),
 var_('bread',_'dec'),
 var_('salmon',_'jan'),
 var_('salmon',_'feb'),
 var_('salmon',_'mar'),
 var_('salmon',_'apr'),
 var_('salmon',_'may'),
 var_('salmon',_'jun'),
 var_('salmon',_'jul'),
 var_('salmon',_'aug'),
 var_('salmon',_'sept'),
 var_('salmon',_'oct'),
 var_('salmon',_'nov'),
 var_('salmon',_'dec'),
 var_('tomatoes',_'jan'),
 var_('tomatoes',_'feb'),
 var_('tomatoes',_'mar'),
 var_('tomatoes',_'apr'),
 var_('tomatoes',_'may'),
 var_('tomatoes',_'jun'),
 var_('tomatoes',_'jul'),
 var_('tomatoes',_'aug'),
 var_('tomatoes',_'sept'),
 var_('tomatoes',_'oct'),
 var_('tomatoes',_'nov'),
 var_('tomatoes',_'dec'),
 var_('carrots',_'jan'),
 var_('carrots',_'feb'),
 var_('carrots',_'mar'),
 var_('carrots',_'apr'),
 var_('carrots',_'may'),
 var_('carrots',_'jun'),
 var_('carrots',_'jul'),
 var_('carrots',_'aug'),
 var_('carrots',_'sept'),
 var_('carrots',_'oct'),
 var_('carrots',_'nov'),
 var_('carrots',_'dec'),
 var_('chicken',_'jan'),
 var_('chicken',_'feb'),
 var_('chicken',_'mar'),
 var_('chicken',_'apr'),
 var_('chicken',_'may'),
 var_('chicken',_'jun'),
 var_('chicken',_'jul'),
 var_('chicken',_'aug'),
 var_('chicken',_'sept'),
 var_('chicken',_'oct'),
 var_('chicken',_'nov'),
 var_('chicken',_'dec'),
 var_('eggs',_'jan'),
 var_('eggs',_'feb'),
 var_('eggs',_'mar'),
 var_('eggs',_'apr'),
 var_('eggs',_'may'),
 var_('eggs',_'jun'),
 var_('eggs',_'jul'),
 var_('eggs',_'aug'),
 var_('eggs',_'sept'),
 var_('eggs',_'oct'),
 var_('eggs',_'nov'),
 var_('eggs',_'dec'),
 var_('beef',_'jan'),
 var_('beef',_'feb'),
 var_('beef',_'mar'),
 var_('beef',_'apr'),
 var_('beef',_'may'),
 var_('beef',_'jun'),
 var_('beef',_'jul'),
 var_('beef',_'aug'),
 var_('beef',_'sept'),
 var_('beef',_'oct'),
 var_('beef',_'nov'),
 var_('beef',_'dec'),
 var_('onions',_'jan'),
 var_('onions',_'feb'),
 var_('onions',_'mar'),
 var_('onions',_'apr'),
 var_('onions',_'may'),
 var_('onions',_'jun'),
 var_('onions',_'jul'),
 var_('onions',_'aug'),
 var_('onions',_'sept'),
 var_('onions',_'oct'),
 var_('onions',_'nov'),
 var_('onions',_'dec'),
 var_('oranges',_'jan'),
 var_('oranges',_'feb'),
 var_('oranges',_'mar'),
 var_('oranges',_'apr'),
 var_('oranges',_'may'),
 var_('oranges',_'jun'),
 var_('oranges',_'jul'),
 var_('oranges',_'aug'),
 var_('oranges',_'sept'),
 var_('oranges',_'oct'),
 var_('oranges',_'nov'),
 var_('oranges',_'dec'),
 var_('milk',_'jan'),
 var_('milk',_'feb'),
 var_('milk',_'mar'),
 var_('milk',_'apr'),
 var_('milk',_'may'),
 var_('milk',_'jun'),
 var_('milk',_'jul'),
 var_('milk',_'aug'),
 var_('milk',_'sept'),
 var_('milk',_'oct'),
 var_('milk',_'nov'),
 var_('milk',_'dec'),
 var_('potatoes',_'jan'),
 var_('potatoes',_'feb'),
 var_('potatoes',_'mar'),
 var_('potatoes',_'apr'),
 var_('potatoes',_'may'),
 var_('potatoes',_'jun'),
 var_('potatoes',_'jul'),
 var_('potatoes',_'aug'),
 var_('potatoes',_'sept'),
 var_('potatoes',_'oct'),
 var_('potatoes',_'nov'),
 var_('potatoes',_'dec'),
 var_('cheese',_'jan'),
 var_('cheese',_'feb'),
 var_('cheese',_'mar'),
 var_('cheese',_'apr'),
 var_('cheese',_'may'),
 var_('cheese',_'jun'),
 var_('cheese',_'jul'),
 var_('cheese',_'aug'),
 var_('cheese',_'sept'),
 var_('cheese',_'oct'),
 var_('cheese',_'nov'),
 var_('cheese',_'dec')]

# Objective Function

In [26]:
prob += pulp.lpSum([l])

In [27]:
print(prob.objective)

0.1111543652029482*var_('apple',_'apr') + 0.10176103856607935*var_('apple',_'aug') + 0.10625049614987696*var_('apple',_'dec') + 0.11263972420343303*var_('apple',_'feb') + 0.11164511295218858*var_('apple',_'jan') + 0.10558504419069192*var_('apple',_'jul') + 0.10853054971532496*var_('apple',_'jun') + 0.1106679128388215*var_('apple',_'mar') + 0.1089983538089255*var_('apple',_'may') + 0.1139081895660843*var_('apple',_'nov') + 0.10970767064499225*var_('apple',_'oct') + 0.10321476768845189*var_('apple',_'sept') + 0.26796252190874653*var_('bacon',_'apr') + 0.25007667396580835*var_('bacon',_'aug') + 0.23794824405060747*var_('bacon',_'dec') + 0.27696663890836837*var_('bacon',_'feb') + 0.28150707561178423*var_('bacon',_'jan') + 0.2579013508733743*var_('bacon',_'jul') + 0.264522694926606*var_('bacon',_'jun') + 0.28266554094352*var_('bacon',_'mar') + 0.26117006254477326*var_('bacon',_'may') + 0.2432859260304912*var_('bacon',_'nov') + 0.2485683707452667*var_('bacon',_'oct') + 0.24916950344356237*var_('bacon',_'sept') + 0.348072400203407*var_('bananas',_'apr') + 0.33937059019832183*var_('bananas',_'aug') + 0.33726269833373596*var_('bananas',_'dec') + 0.34585537854606047*var_('bananas',_'feb') + 0.348072400203407*var_('bananas',_'jan') + 0.348072400203407*var_('bananas',_'jul') + 0.348072400203407*var_('bananas',_'jun') + 0.348072400203407*var_('bananas',_'mar') + 0.348072400203407*var_('bananas',_'may') + 0.33937059019832183*var_('bananas',_'nov') + 0.33937059019832183*var_('bananas',_'oct') + 0.33937059019832183*var_('bananas',_'sept') + 0.12883338390361396*var_('beef',_'apr') + 0.12849904121182257*var_('beef',_'aug') + 0.12317155194101731*var_('beef',_'dec') + 0.13430822029011472*var_('beef',_'feb') + 0.12861029579295832*var_('beef',_'jan') + 0.131339426738167*var_('beef',_'jul') + 0.13504081058260625*var_('beef',_'jun') + 0.13239295155157477*var_('beef',_'mar') + 0.13168873372417278*var_('beef',_'may') + 0.1192174090215625*var_('beef',_'nov') + 0.12067009881467658*var_('beef',_'oct') + 0.12524864387931442*var_('beef',_'sept') + 0.9581069378251119*var_('bread',_'apr') + 0.9682995648232515*var_('bread',_'aug') + 0.9163103264434795*var_('bread',_'dec') + 0.9514302344256338*var_('bread',_'feb') + 0.9787113881009207*var_('bread',_'jan') + 0.9752159902862747*var_('bread',_'jul') + 0.9682995648232515*var_('bread',_'jun') + 0.9682995648232515*var_('bread',_'mar') + 0.948126657222767*var_('bread',_'may') + 0.9448459421458716*var_('bread',_'nov') + 0.9614805538033694*var_('bread',_'oct') + 0.9717454707478893*var_('bread',_'sept') + 0.1269536338609989*var_('carrots',_'apr') + 0.13016764990811278*var_('carrots',_'aug') + 0.1269536338609989*var_('carrots',_'dec') + 0.13183646593257578*var_('carrots',_'feb') + 0.1371099245698788*var_('carrots',_'jan') + 0.11685504934932853*var_('carrots',_'jul') + 0.12241957550882036*var_('carrots',_'jun') + 0.13240228767477566*var_('carrots',_'mar') + 0.12389451015350493*var_('carrots',_'may') + 0.1307192077467065*var_('carrots',_'nov') + 0.13297298719061523*var_('carrots',_'oct') + 0.1285405542842614*var_('carrots',_'sept') + 0.5434949797976342*var_('cheese',_'apr') + 0.5434949797976342*var_('cheese',_'aug') + 0.5724262714978884*var_('cheese',_'dec') + 0.5395989584370776*var_('cheese',_'feb') + 0.5596583992711697*var_('cheese',_'jan') + 0.5534856963380318*var_('cheese',_'jul') + 0.5357583964553191*var_('cheese',_'jun') + 0.5300989767744531*var_('cheese',_'mar') + 0.5319721180351401*var_('cheese',_'may') + 0.5724262714978884*var_('cheese',_'nov') + 0.5659703361050551*var_('cheese',_'oct') + 0.5768126797086002*var_('cheese',_'sept') + 0.17364211785162134*var_('chicken',_'apr') + 0.1680889873914219*var_('chicken',_'aug') + 0.17364211785162134*var_('chicken',_'dec') + 0.19522335249889428*var_('chicken',_'feb') + 0.18592700237989931*var_('chicken',_'jan') + 0.16933871963968525*var_('chicken',_'jul') + 0.17701599319847927*var_('chicken',_'jun') + 0.17678699450093918*var_('chicken',_'mar') + 0.17610353962529124*var_('chicken',_'may') + 0.1670615485931858*var_('chicken',_'nov') + 0.16058325117417863*var_('chicken',_'oct') + 0.16464620090268192*var_('chicken',_'sept') + 0.18318679995182466*var_('eggs',_'apr') + 0.17803320711430526*var_('eggs',_'aug') + 0.1822277067583596*var_('eggs',_'dec') + 0.19229553586103137*var_('eggs',_'feb') + 0.19123896698267406*var_('eggs',_'jan') + 0.18612562561950097*var_('eggs',_'jul') + 0.18562929061784897*var_('eggs',_'jun') + 0.1846445198453405*var_('eggs',_'mar') + 0.18612562561950097*var_('eggs',_'may') + 0.17987334362194668*var_('eggs',_'nov') + 0.17987334362194668*var_('eggs',_'oct') + 0.1822277067583596*var_('eggs',_'sept') + 0.05724960208223473*var_('milk',_'apr') + 0.05735388186744827*var_('milk',_'aug') + 0.05704217598773388*var_('milk',_'dec') + 0.057458542235819525*var_('milk',_'feb') + 0.05940996442496057*var_('milk',_'jan') + 0.0571457008080383*var_('milk',_'jul') + 0.057458542235819525*var_('milk',_'jun') + 0.05735388186744827*var_('milk',_'mar') + 0.0571457008080383*var_('milk',_'may') + 0.05724960208223473*var_('milk',_'nov') + 0.05704217598773388*var_('milk',_'oct') + 0.05735388186744827*var_('milk',_'sept') + 0.17687475532631902*var_('onions',_'apr') + 0.16310172110008928*var_('onions',_'aug') + 0.17687475532631902*var_('onions',_'dec') + 0.1715380170190594*var_('onions',_'feb') + 0.1737852399494401*var_('onions',_'jan') + 0.16243599978947665*var_('onions',_'jul') + 0.1672135291950495*var_('onions',_'jun') + 0.1722806058373237*var_('onions',_'mar') + 0.16934816999328417*var_('onions',_'may') + 0.1737852399494401*var_('onions',_'nov') + 0.1859664483571111*var_('onions',_'oct') + 0.1722806058373237*var_('onions',_'sept') + 0.10182134310724673*var_('oranges',_'apr') + 0.09604796798260903*var_('oranges',_'aug') + 0.09067302086922702*var_('oranges',_'dec') + 0.09885042858687615*var_('oranges',_'feb') + 0.10380671748538248*var_('oranges',_'jan') + 0.093870558129099*var_('oranges',_'jul') + 0.09224408806250571*var_('oranges',_'jun') + 0.10323161101731941*var_('oranges',_'mar') + 0.09555541430064694*var_('oranges',_'may') + 0.09045294072148617*var_('oranges',_'nov') + 0.09270301387376197*var_('oranges',_'oct') + 0.09555541430064694*var_('oranges',_'sept') + 0.07785931209936525*var_('potatoes',_'apr') + 0.0746486188169172*var_('potatoes',_'aug') + 0.0768823130093153*var_('potatoes',_'dec') + 0.07893961970034752*var_('potatoes',_'feb') + 0.07703102154511668*var_('potatoes',_'jan') + 0.07430044428885321*var_('potatoes',_'jul') + 0.07585721550252443*var_('potatoes',_'jun') + 0.07725516612769219*var_('potatoes',_'mar') + 0.07528362597131441*var_('potatoes',_'may') + 0.08053597196931309*var_('potatoes',_'nov') + 0.0783186590734028*var_('potatoes',_'oct') + 0.0781649423725718*var_('potatoes',_'sept') + 0.15240270399616632*var_('salmon',_'apr') + 0.149602041748151*var_('salmon',_'aug') + 0.149602041748151*var_('salmon',_'dec') + 0.14801535342657973*var_('salmon',_'feb') + 0.14646196890785998*var_('salmon',_'jan') + 0.14712369467099792*var_('salmon',_'jul') + 0.149602041748151*var_('salmon',_'jun') + 0.15075637849003487*var_('salmon',_'mar') + 0.15680599239412937*var_('salmon',_'may') + 0.149602041748151*var_('salmon',_'nov') + 0.146681881774088*var_('salmon',_'oct') + 0.15240270399616632*var_('salmon',_'sept') + 0.13042497477275616*var_('tomatoes',_'apr') + 0.11993101128529303*var_('tomatoes',_'aug') + 0.12203506411485958*var_('tomatoes',_'dec') + 0.14099997272730397*var_('tomatoes',_'feb') + 0.14391721354235162*var_('tomatoes',_'jan') + 0.13207592382051256*var_('tomatoes',_'jul') + 0.1280245151143619*var_('tomatoes',_'jun') + 0.14005366418551*var_('tomatoes',_'mar') + 0.13042497477275616*var_('tomatoes',_'may') + 0.1329171717429362*var_('tomatoes',_'nov') + 0.12647270280994538*var_('tomatoes',_'oct') + 0.12275291743318228*var_('tomatoes',_'sept')

# Constraints

## Set up

In [28]:
cals = []
pros = []
carbs = []
fibr = []

In [29]:
for l in range(0,15):
    for k in range(12*l,12*(l+1)):
        cals.append(nutrients.iloc[l, 1]*b[k])
        pros.append(nutrients.iloc[l, 2]*b[k])
        fibr.append(nutrients.iloc[l, 3]*b[k])
        carbs.append(nutrients.iloc[l, 4]*b[k])

In [30]:
jan_cals = []
jan_pros = []
jan_carbs = []
jan_fibr = []
feb_cals = []
feb_pros = []
feb_carbs = []
feb_fibr = []
mar_cals = []
mar_pros = []
mar_carbs = []
mar_fibr = []
apr_cals = []
apr_pros = []
apr_carbs = []
apr_fibr = []
may_cals = []
may_pros = []
may_carbs = []
may_fibr = []
jun_cals = []
jun_pros = []
jun_carbs = []
jun_fibr = []
jul_cals = []
jul_pros = []
jul_carbs = []
jul_fibr = []
aug_cals = []
aug_pros = []
aug_carbs = []
aug_fibr = []
sept_cals = []
sept_pros = []
sept_carbs = []
sept_fibr = []
oct_cals = []
oct_pros = []
oct_carbs = []
oct_fibr = []
nov_cals = []
nov_pros = []
nov_carbs = []
nov_fibr = []
dec_cals = []
dec_pros = []
dec_carbs = []
dec_fibr = []

In [31]:
for i in range(0,180,12):
    jan_cals.append(cals[i])
    jan_carbs.append(carbs[i])
    jan_pros.append(pros[i])
    jan_fibr.append(fibr[i])
    

for i in range(1,180,12):
    feb_cals.append(cals[i])
    feb_carbs.append(carbs[i])
    feb_pros.append(pros[i])
    feb_fibr.append(fibr[i])

for i in range(2,180,12):
    mar_cals.append(cals[i])
    mar_carbs.append(carbs[i])
    mar_pros.append(pros[i])
    mar_fibr.append(fibr[i])

for i in range(3,180,12):
    apr_cals.append(cals[i])
    apr_carbs.append(carbs[i])
    apr_pros.append(pros[i])
    apr_fibr.append(fibr[i])

for i in range(4,180,12):
    may_cals.append(cals[i])
    may_carbs.append(carbs[i])
    may_pros.append(pros[i])
    may_fibr.append(fibr[i])

for i in range(5,180,12):
    jun_cals.append(cals[i])
    jun_carbs.append(carbs[i])
    jun_pros.append(pros[i])
    jun_fibr.append(fibr[i])

for i in range(6,180,12):
    jul_cals.append(cals[i])
    jul_carbs.append(carbs[i])
    jul_pros.append(pros[i])
    jul_fibr.append(fibr[i])

for i in range(7,180,12):
    aug_cals.append(cals[i])
    aug_carbs.append(carbs[i])
    aug_pros.append(pros[i])
    aug_fibr.append(fibr[i])

for i in range(8,180,12):
    sept_cals.append(cals[i])
    sept_carbs.append(carbs[i])
    sept_pros.append(pros[i])
    sept_fibr.append(fibr[i])

for i in range(9,180,12):
    oct_cals.append(cals[i])
    oct_carbs.append(carbs[i])
    oct_pros.append(pros[i])
    oct_fibr.append(fibr[i])

for i in range(10,180,12):
    nov_cals.append(cals[i])
    nov_carbs.append(carbs[i])
    nov_pros.append(pros[i])
    nov_fibr.append(fibr[i])

for i in range(11,180,12):
    dec_cals.append(cals[i])
    dec_carbs.append(carbs[i])
    dec_pros.append(pros[i])
    dec_fibr.append(fibr[i])

In [32]:
protein_items = []

In [33]:
# bacon
for r in range(12,24):
    protein_items.append(b[r])

# salmon
for r in range(48,60):
    protein_items.append(b[r])

# chicken
for r in range(84,96):
    protein_items.append(b[r])
    
# beef
for r in range(108,120):
    protein_items.append(b[r])

# eggs
for r in range(96,108):
    protein_items.append(b[r])

In [34]:
protein_items

[var_('bacon',_'jan'),
 var_('bacon',_'feb'),
 var_('bacon',_'mar'),
 var_('bacon',_'apr'),
 var_('bacon',_'may'),
 var_('bacon',_'jun'),
 var_('bacon',_'jul'),
 var_('bacon',_'aug'),
 var_('bacon',_'sept'),
 var_('bacon',_'oct'),
 var_('bacon',_'nov'),
 var_('bacon',_'dec'),
 var_('salmon',_'jan'),
 var_('salmon',_'feb'),
 var_('salmon',_'mar'),
 var_('salmon',_'apr'),
 var_('salmon',_'may'),
 var_('salmon',_'jun'),
 var_('salmon',_'jul'),
 var_('salmon',_'aug'),
 var_('salmon',_'sept'),
 var_('salmon',_'oct'),
 var_('salmon',_'nov'),
 var_('salmon',_'dec'),
 var_('chicken',_'jan'),
 var_('chicken',_'feb'),
 var_('chicken',_'mar'),
 var_('chicken',_'apr'),
 var_('chicken',_'may'),
 var_('chicken',_'jun'),
 var_('chicken',_'jul'),
 var_('chicken',_'aug'),
 var_('chicken',_'sept'),
 var_('chicken',_'oct'),
 var_('chicken',_'nov'),
 var_('chicken',_'dec'),
 var_('beef',_'jan'),
 var_('beef',_'feb'),
 var_('beef',_'mar'),
 var_('beef',_'apr'),
 var_('beef',_'may'),
 var_('beef',_'jun'),
 var_('beef',_'jul'),
 var_('beef',_'aug'),
 var_('beef',_'sept'),
 var_('beef',_'oct'),
 var_('beef',_'nov'),
 var_('beef',_'dec'),
 var_('eggs',_'jan'),
 var_('eggs',_'feb'),
 var_('eggs',_'mar'),
 var_('eggs',_'apr'),
 var_('eggs',_'may'),
 var_('eggs',_'jun'),
 var_('eggs',_'jul'),
 var_('eggs',_'aug'),
 var_('eggs',_'sept'),
 var_('eggs',_'oct'),
 var_('eggs',_'nov'),
 var_('eggs',_'dec')]

In [35]:
jan_protein_items = []
feb_protein_items = []
mar_protein_items = []
apr_protein_items = []
may_protein_items = []
jun_protein_items = []
jul_protein_items = []
aug_protein_items = []
sept_protein_items = []
oct_protein_items = []
nov_protein_items = []
dec_protein_items = []

In [36]:
# MEAT EATERS
for r in range(0,60,12):
    jan_protein_items.append(protein_items[r])
    
for i in range(1,60,12):
    feb_protein_items.append(protein_items[i])

for i in range(2,60,12):
    mar_protein_items.append(protein_items[i])

for i in range(3,60,12):
    apr_protein_items.append(protein_items[i])

for i in range(4,60,12):
    may_protein_items.append(protein_items[i])

for i in range(5,60,12):
    jun_protein_items.append(protein_items[i])

for i in range(6,60,12):
    jul_protein_items.append(protein_items[i])

for i in range(7,60,12):
    aug_protein_items.append(protein_items[i])

for i in range(8,60,12):
    sept_protein_items.append(protein_items[i])

for i in range(9,60,12):
    oct_protein_items.append(protein_items[i])

for i in range(10,60,12):
    nov_protein_items.append(protein_items[i])

for i in range(11,60,12):
    dec_protein_items.append(protein_items[i])

In [37]:
# # VEGETARIANS
# for r in range(0,48,12):
#     jan_protein_items.append(protein_items[r])
    
# for i in range(1,48,12):
#     feb_protein_items.append(protein_items[i])

# for i in range(2,48,12):
#     mar_protein_items.append(protein_items[i])

# for i in range(3,48,12):
#     apr_protein_items.append(protein_items[i])

# for i in range(4,48,12):
#     may_protein_items.append(protein_items[i])

# for i in range(5,48,12):
#     jun_protein_items.append(protein_items[i])

# for i in range(6,48,12):
#     jul_protein_items.append(protein_items[i])

# for i in range(7,48,12):
#     aug_protein_items.append(protein_items[i])

# for i in range(8,48,12):
#     sept_protein_items.append(protein_items[i])

# for i in range(9,48,12):
#     oct_protein_items.append(protein_items[i])

# for i in range(10,48,12):
#     nov_protein_items.append(protein_items[i])

# for i in range(11,48,12):
#     dec_protein_items.append(protein_items[i])

## Limits

### Calorie Calculations

numbers from: https://www.canada.ca/en/health-canada/services/food-nutrition/healthy-eating/dietary-reference-intakes/tables.html#eeer

In [38]:
# Estimated energy requirement (kcal/day)
# female
# PA = physical activity (VERY ACTIVE)
age = 25
weight_kg = 57 
height_m = 1.63
PA = 1.45
cals_f_day = 354 - (6.91 * age) + (PA * ((9.36 * weight_kg) + (726 * height_m)))

In [39]:
# Estimated energy requirement (kcal/day)
# male
# PA = physical activity (VERY ACTIVE)
age = 25
weight_kg = 70
height_m = 1.77
PA = 1.48
cals_m_day = 662 - (9.53 * age) + (PA * ((15.91 * weight_kg) + (539.6 * height_m)))

In [40]:
cals_m_day - cals_f_day

814.8071600000007

In [41]:
bounds = {"Gender": ["Female", "Male"], "Calories": [cals_f_day, cals_m_day]}

In [42]:
intakes_df = pd.DataFrame(bounds)
intakes_df

   Gender  Calories
0  Female  2670.755
1    Male  3485.562

numbers from: https://www.canada.ca/en/health-canada/services/food-nutrition/healthy-eating/dietary-reference-intakes/tables/reference-values-macronutrients-dietary-reference-intakes-tables-2005.html

In [43]:
# MALE limits
gender = "male"
diet = "meat"

carbs_g_day = 392
protein_m_g_day = 105
fiber_m_g_day = 49

calorie_limit = cals_m_day
protein_limit = protein_m_g_day
carb_limit = carbs_g_day
fiber_limit = fiber_m_g_day

In [44]:
# # FEMALE limits
# gender = "female"
# diet = "meat"

# carbs_g_day = f_carbs_lower
# # carbs_g_day = f_carbs_upper
# protein_f_g_day = f_pros_lower
# # protein_f_g_day = f_pros_upper
# fiber_f_g_day = 21

# calorie_limit = cals_f_day
# protein_limit = protein_f_g_day
# carb_limit = carbs_g_day
# fiber_limit = fiber_f_g_day

## Constraints

In [45]:
prob += pulp.lpSum([jan_cals]) <= (calorie_limit), "jan_calories"
prob += pulp.lpSum([feb_cals]) <= (calorie_limit), "feb_calories"
prob += pulp.lpSum([mar_cals]) <= (calorie_limit), "mar_calories"
prob += pulp.lpSum([apr_cals]) <= (calorie_limit), "apr_calories"
prob += pulp.lpSum([may_cals]) <= (calorie_limit), "may_calories"
prob += pulp.lpSum([jun_cals]) <= (calorie_limit), "jun_calories"
prob += pulp.lpSum([jul_cals]) <= (calorie_limit), "jul_calories"
prob += pulp.lpSum([aug_cals]) <= (calorie_limit), "aug_calories"
prob += pulp.lpSum([sept_cals]) <= (calorie_limit), "sept_calories"
prob += pulp.lpSum([oct_cals]) <= (calorie_limit), "oct_calories"
prob += pulp.lpSum([nov_cals]) <= (calorie_limit), "nov_calories"
prob += pulp.lpSum([dec_cals]) <= (calorie_limit), "dec_calories"

In [46]:
prob += pulp.lpSum([jan_carbs]) <= (carb_limit), "jan_carbs"
prob += pulp.lpSum([feb_carbs]) <= (carb_limit), "feb_carbs"
prob += pulp.lpSum([mar_carbs]) <= (carb_limit), "mar_carbs"
prob += pulp.lpSum([apr_carbs]) <= (carb_limit), "apr_carbs"
prob += pulp.lpSum([may_carbs]) <= (carb_limit), "may_carbs"
prob += pulp.lpSum([jun_carbs]) <= (carb_limit), "jun_carbs"
prob += pulp.lpSum([jul_carbs]) <= (carb_limit), "jul_carbs"
prob += pulp.lpSum([aug_carbs]) <= (carb_limit), "aug_carbs"
prob += pulp.lpSum([sept_carbs]) <= (carb_limit), "sept_carbs"
prob += pulp.lpSum([oct_carbs]) <= (carb_limit), "oct_carbs"
prob += pulp.lpSum([nov_carbs]) <= (carb_limit), "nov_carbs"
prob += pulp.lpSum([dec_carbs]) <= (carb_limit), "dec_carbs"

In [47]:
prob += pulp.lpSum([jan_pros]) <= (protein_limit), "jan_pros"
prob += pulp.lpSum([feb_pros]) <= (protein_limit), "feb_pros"
prob += pulp.lpSum([mar_pros]) <= (protein_limit), "mar_pros"
prob += pulp.lpSum([apr_pros]) <= (protein_limit), "apr_pros"
prob += pulp.lpSum([may_pros]) <= (protein_limit), "may_pros"
prob += pulp.lpSum([jun_pros]) <= (protein_limit), "jun_pros"
prob += pulp.lpSum([jul_pros]) <= (protein_limit), "jul_pros"
prob += pulp.lpSum([aug_pros]) <= (protein_limit), "aug_pros"
prob += pulp.lpSum([sept_pros]) <= (protein_limit), "sept_pros"
prob += pulp.lpSum([oct_pros]) <= (protein_limit), "oct_pros"
prob += pulp.lpSum([nov_pros]) <= (protein_limit), "nov_pros"
prob += pulp.lpSum([dec_pros]) <= (protein_limit), "dec_pros"

In [48]:
prob += pulp.lpSum([jan_fibr]) <= (fiber_limit), "jan_fibr"
prob += pulp.lpSum([feb_fibr]) <= (fiber_limit), "feb_fibr"
prob += pulp.lpSum([mar_fibr]) <= (fiber_limit), "mar_fibr"
prob += pulp.lpSum([apr_fibr]) <= (fiber_limit), "apr_fibr"
prob += pulp.lpSum([may_fibr]) <= (fiber_limit), "may_fibr"
prob += pulp.lpSum([jun_fibr]) <= (fiber_limit), "jun_fibr"
prob += pulp.lpSum([jul_fibr]) <= (fiber_limit), "jul_fibr"
prob += pulp.lpSum([aug_fibr]) <= (fiber_limit), "aug_fibr"
prob += pulp.lpSum([sept_fibr]) <= (fiber_limit), "sept_fibr"
prob += pulp.lpSum([oct_fibr]) <= (fiber_limit), "oct_fibr"
prob += pulp.lpSum([nov_fibr]) <= (fiber_limit), "nov_fibr"
prob += pulp.lpSum([dec_fibr]) <= (fiber_limit), "dec_fibr"

In [49]:
# apple requirement
for i in range(0,12):
    prob += b[i] >= 1

In [50]:
# bacon restriction
for i in range(12,24):
    prob += b[i] <= 2

In [51]:
# banana requirement
for i in range(24,36):
    prob += b[i] >= 1

In [52]:
# bread restriction
for r in range(36,48):
    prob += b[r] <= 5

In [53]:
# tomato requirement
for i in range(60,72):
    prob += b[i] >= 1

In [54]:
# carrots requirement
for i in range(72,84):
    prob += b[i] >= 1

In [55]:
# onion requirement
for i in range(120,132):
    prob += b[i] >= 1

In [56]:
# orange requirement
for i in range(132,144):
    prob += b[i] >= 1

In [57]:
# cheese restriction
for r in range(168,180):
    prob += b[r] <= 2

In [58]:
# potato requirement
for r in range(156, 168):
    prob += b[r] >= 1

In [59]:
# meat eater constraints
prob += pulp.lpSum([jan_protein_items]) >= 0, "jan_protein_requirement"

prob += pulp.lpSum([feb_protein_items]) >= 0, "feb_protein_requirement"

prob += pulp.lpSum([mar_protein_items]) >= 0, "mar_protein_requirement"

prob += pulp.lpSum([apr_protein_items]) >= 0, "apr_protein_requirement"

prob += pulp.lpSum([may_protein_items]) >= 0, "may_protein_requirement"

prob += pulp.lpSum([jun_protein_items]) >= 0, "jun_protein_requirement"

prob += pulp.lpSum([jul_protein_items]) >= 0, "jul_protein_requirement"

prob += pulp.lpSum([aug_protein_items]) >= 0, "aug_protein_requirement"

prob += pulp.lpSum([sept_protein_items]) >= 0, "sept_protein_requirement"

prob += pulp.lpSum([oct_protein_items]) >= 0, "oct_protein_requirement"

prob += pulp.lpSum([nov_protein_items]) >= 0, "nov_protein_requirement"

prob += pulp.lpSum([dec_protein_items]) >= 0, "dec_protein_requirement"

In [60]:
# # vegetarian constraints
# prob += pulp.lpSum([jan_protein_items]) <= 0, "jan_protein_restriction"

# prob += pulp.lpSum([feb_protein_items]) <= 0, "feb_protein_restriction"

# prob += pulp.lpSum([mar_protein_items]) <= 0, "mar_protein_restriction"

# prob += pulp.lpSum([apr_protein_items]) <= 0, "apr_protein_restriction"

# prob += pulp.lpSum([may_protein_items]) <= 0, "may_protein_restriction"

# prob += pulp.lpSum([jun_protein_items]) <= 0, "jun_protein_restriction"

# prob += pulp.lpSum([jul_protein_items]) <= 0, "jul_protein_restriction"

# prob += pulp.lpSum([aug_protein_items]) <= 0, "aug_protein_restriction"

# prob += pulp.lpSum([sept_protein_items]) <= 0, "sept_protein_restriction"

# prob += pulp.lpSum([oct_protein_items]) <= 0, "oct_protein_restriction"

# prob += pulp.lpSum([nov_protein_items]) <= 0, "nov_protein_restriction"

# prob += pulp.lpSum([dec_protein_items]) <= 0, "dec_protein_restriction"

In [61]:
print(prob)

diet_prob:
MAXIMIZE
0.1111543652029482*var_('apple',_'apr') + 0.10176103856607935*var_('apple',_'aug') + 0.10625049614987696*var_('apple',_'dec') + 0.11263972420343303*var_('apple',_'feb') + 0.11164511295218858*var_('apple',_'jan') + 0.10558504419069192*var_('apple',_'jul') + 0.10853054971532496*var_('apple',_'jun') + 0.1106679128388215*var_('apple',_'mar') + 0.1089983538089255*var_('apple',_'may') + 0.1139081895660843*var_('apple',_'nov') + 0.10970767064499225*var_('apple',_'oct') + 0.10321476768845189*var_('apple',_'sept') + 0.26796252190874653*var_('bacon',_'apr') + 0.25007667396580835*var_('bacon',_'aug') + 0.23794824405060747*var_('bacon',_'dec') + 0.27696663890836837*var_('bacon',_'feb') + 0.28150707561178423*var_('bacon',_'jan') + 0.2579013508733743*var_('bacon',_'jul') + 0.264522694926606*var_('bacon',_'jun') + 0.28266554094352*var_('bacon',_'mar') + 0.26117006254477326*var_('bacon',_'may') + 0.2432859260304912*var_('bacon',_'nov') + 0.2485683707452667*var_('bacon',_'oct') + 0.24916950344356237*var_('bacon',_'sept') + 0.348072400203407*var_('bananas',_'apr') + 0.33937059019832183*var_('bananas',_'aug') + 0.33726269833373596*var_('bananas',_'dec') + 0.34585537854606047*var_('bananas',_'feb') + 0.348072400203407*var_('bananas',_'jan') + 0.348072400203407*var_('bananas',_'jul') + 0.348072400203407*var_('bananas',_'jun') + 0.348072400203407*var_('bananas',_'mar') + 0.348072400203407*var_('bananas',_'may') + 0.33937059019832183*var_('bananas',_'nov') + 0.33937059019832183*var_('bananas',_'oct') + 0.33937059019832183*var_('bananas',_'sept') + 0.12883338390361396*var_('beef',_'apr') + 0.12849904121182257*var_('beef',_'aug') + 0.12317155194101731*var_('beef',_'dec') + 0.13430822029011472*var_('beef',_'feb') + 0.12861029579295832*var_('beef',_'jan') + 0.131339426738167*var_('beef',_'jul') + 0.13504081058260625*var_('beef',_'jun') + 0.13239295155157477*var_('beef',_'mar') + 0.13168873372417278*var_('beef',_'may') + 0.1192174090215625*var_('beef',_'nov') + 0.12067009881467658*var_('beef',_'oct') + 0.12524864387931442*var_('beef',_'sept') + 0.9581069378251119*var_('bread',_'apr') + 0.9682995648232515*var_('bread',_'aug') + 0.9163103264434795*var_('bread',_'dec') + 0.9514302344256338*var_('bread',_'feb') + 0.9787113881009207*var_('bread',_'jan') + 0.9752159902862747*var_('bread',_'jul') + 0.9682995648232515*var_('bread',_'jun') + 0.9682995648232515*var_('bread',_'mar') + 0.948126657222767*var_('bread',_'may') + 0.9448459421458716*var_('bread',_'nov') + 0.9614805538033694*var_('bread',_'oct') + 0.9717454707478893*var_('bread',_'sept') + 0.1269536338609989*var_('carrots',_'apr') + 0.13016764990811278*var_('carrots',_'aug') + 0.1269536338609989*var_('carrots',_'dec') + 0.13183646593257578*var_('carrots',_'feb') + 0.1371099245698788*var_('carrots',_'jan') + 0.11685504934932853*var_('carrots',_'jul') + 0.12241957550882036*var_('carrots',_'jun') + 0.13240228767477566*var_('carrots',_'mar') + 0.12389451015350493*var_('carrots',_'may') + 0.1307192077467065*var_('carrots',_'nov') + 0.13297298719061523*var_('carrots',_'oct') + 0.1285405542842614*var_('carrots',_'sept') + 0.5434949797976342*var_('cheese',_'apr') + 0.5434949797976342*var_('cheese',_'aug') + 0.5724262714978884*var_('cheese',_'dec') + 0.5395989584370776*var_('cheese',_'feb') + 0.5596583992711697*var_('cheese',_'jan') + 0.5534856963380318*var_('cheese',_'jul') + 0.5357583964553191*var_('cheese',_'jun') + 0.5300989767744531*var_('cheese',_'mar') + 0.5319721180351401*var_('cheese',_'may') + 0.5724262714978884*var_('cheese',_'nov') + 0.5659703361050551*var_('cheese',_'oct') + 0.5768126797086002*var_('cheese',_'sept') + 0.17364211785162134*var_('chicken',_'apr') + 0.1680889873914219*var_('chicken',_'aug') + 0.17364211785162134*var_('chicken',_'dec') + 0.19522335249889428*var_('chicken',_'feb') + 0.18592700237989931*var_('chicken',_'jan') + 0.16933871963968525*var_('chicken',_'jul') + 0.17701599319847927*var_('chicken',_'jun') + 0.17678699450093918*var_('chicken',_'mar') + 0.17610353962529124*var_('chicken',_'may') + 0.1670615485931858*var_('chicken',_'nov') + 0.16058325117417863*var_('chicken',_'oct') + 0.16464620090268192*var_('chicken',_'sept') + 0.18318679995182466*var_('eggs',_'apr') + 0.17803320711430526*var_('eggs',_'aug') + 0.1822277067583596*var_('eggs',_'dec') + 0.19229553586103137*var_('eggs',_'feb') + 0.19123896698267406*var_('eggs',_'jan') + 0.18612562561950097*var_('eggs',_'jul') + 0.18562929061784897*var_('eggs',_'jun') + 0.1846445198453405*var_('eggs',_'mar') + 0.18612562561950097*var_('eggs',_'may') + 0.17987334362194668*var_('eggs',_'nov') + 0.17987334362194668*var_('eggs',_'oct') + 0.1822277067583596*var_('eggs',_'sept') + 0.05724960208223473*var_('milk',_'apr') + 0.05735388186744827*var_('milk',_'aug') + 0.05704217598773388*var_('milk',_'dec') + 0.057458542235819525*var_('milk',_'feb') + 0.05940996442496057*var_('milk',_'jan') + 0.0571457008080383*var_('milk',_'jul') + 0.057458542235819525*var_('milk',_'jun') + 0.05735388186744827*var_('milk',_'mar') + 0.0571457008080383*var_('milk',_'may') + 0.05724960208223473*var_('milk',_'nov') + 0.05704217598773388*var_('milk',_'oct') + 0.05735388186744827*var_('milk',_'sept') + 0.17687475532631902*var_('onions',_'apr') + 0.16310172110008928*var_('onions',_'aug') + 0.17687475532631902*var_('onions',_'dec') + 0.1715380170190594*var_('onions',_'feb') + 0.1737852399494401*var_('onions',_'jan') + 0.16243599978947665*var_('onions',_'jul') + 0.1672135291950495*var_('onions',_'jun') + 0.1722806058373237*var_('onions',_'mar') + 0.16934816999328417*var_('onions',_'may') + 0.1737852399494401*var_('onions',_'nov') + 0.1859664483571111*var_('onions',_'oct') + 0.1722806058373237*var_('onions',_'sept') + 0.10182134310724673*var_('oranges',_'apr') + 0.09604796798260903*var_('oranges',_'aug') + 0.09067302086922702*var_('oranges',_'dec') + 0.09885042858687615*var_('oranges',_'feb') + 0.10380671748538248*var_('oranges',_'jan') + 0.093870558129099*var_('oranges',_'jul') + 0.09224408806250571*var_('oranges',_'jun') + 0.10323161101731941*var_('oranges',_'mar') + 0.09555541430064694*var_('oranges',_'may') + 0.09045294072148617*var_('oranges',_'nov') + 0.09270301387376197*var_('oranges',_'oct') + 0.09555541430064694*var_('oranges',_'sept') + 0.07785931209936525*var_('potatoes',_'apr') + 0.0746486188169172*var_('potatoes',_'aug') + 0.0768823130093153*var_('potatoes',_'dec') + 0.07893961970034752*var_('potatoes',_'feb') + 0.07703102154511668*var_('potatoes',_'jan') + 0.07430044428885321*var_('potatoes',_'jul') + 0.07585721550252443*var_('potatoes',_'jun') + 0.07725516612769219*var_('potatoes',_'mar') + 0.07528362597131441*var_('potatoes',_'may') + 0.08053597196931309*var_('potatoes',_'nov') + 0.0783186590734028*var_('potatoes',_'oct') + 0.0781649423725718*var_('potatoes',_'sept') + 0.15240270399616632*var_('salmon',_'apr') + 0.149602041748151*var_('salmon',_'aug') + 0.149602041748151*var_('salmon',_'dec') + 0.14801535342657973*var_('salmon',_'feb') + 0.14646196890785998*var_('salmon',_'jan') + 0.14712369467099792*var_('salmon',_'jul') + 0.149602041748151*var_('salmon',_'jun') + 0.15075637849003487*var_('salmon',_'mar') + 0.15680599239412937*var_('salmon',_'may') + 0.149602041748151*var_('salmon',_'nov') + 0.146681881774088*var_('salmon',_'oct') + 0.15240270399616632*var_('salmon',_'sept') + 0.13042497477275616*var_('tomatoes',_'apr') + 0.11993101128529303*var_('tomatoes',_'aug') + 0.12203506411485958*var_('tomatoes',_'dec') + 0.14099997272730397*var_('tomatoes',_'feb') + 0.14391721354235162*var_('tomatoes',_'jan') + 0.13207592382051256*var_('tomatoes',_'jul') + 0.1280245151143619*var_('tomatoes',_'jun') + 0.14005366418551*var_('tomatoes',_'mar') + 0.13042497477275616*var_('tomatoes',_'may') + 0.1329171717429362*var_('tomatoes',_'nov') + 0.12647270280994538*var_('tomatoes',_'oct') + 0.12275291743318228*var_('tomatoes',_'sept') + 0.0
SUBJECT TO
jan_calories: 70 var_('apple',_'jan') + 95 var_('bacon',_'jan')
 + 85 var_('bananas',_'jan') + 245 var_('beef',_'jan')
 + 86 var_('bread',_'jan') + 45 var_('carrots',_'jan')
 + 78 var_('cheese',_'jan') + 185 var_('chicken',_'jan')
 + 150 var_('eggs',_'jan') + 129 var_('milk',_'jan')
 + 80 var_('onions',_'jan') + 60 var_('oranges',_'jan')
 + 100 var_('potatoes',_'jan') + 120 var_('salmon',_'jan')
 + 50 var_('tomatoes',_'jan') <= 3485.56216

feb_calories: 70 var_('apple',_'feb') + 95 var_('bacon',_'feb')
 + 85 var_('bananas',_'feb') + 245 var_('beef',_'feb')
 + 86 var_('bread',_'feb') + 45 var_('carrots',_'feb')
 + 78 var_('cheese',_'feb') + 185 var_('chicken',_'feb')
 + 150 var_('eggs',_'feb') + 129 var_('milk',_'feb')
 + 80 var_('onions',_'feb') + 60 var_('oranges',_'feb')
 + 100 var_('potatoes',_'feb') + 120 var_('salmon',_'feb')
 + 50 var_('tomatoes',_'feb') <= 3485.56216

mar_calories: 70 var_('apple',_'mar') + 95 var_('bacon',_'mar')
 + 85 var_('bananas',_'mar') + 245 var_('beef',_'mar')
 + 86 var_('bread',_'mar') + 45 var_('carrots',_'mar')
 + 78 var_('cheese',_'mar') + 185 var_('chicken',_'mar')
 + 150 var_('eggs',_'mar') + 129 var_('milk',_'mar')
 + 80 var_('onions',_'mar') + 60 var_('oranges',_'mar')
 + 100 var_('potatoes',_'mar') + 120 var_('salmon',_'mar')
 + 50 var_('tomatoes',_'mar') <= 3485.56216

apr_calories: 70 var_('apple',_'apr') + 95 var_('bacon',_'apr')
 + 85 var_('bananas',_'apr') + 245 var_('beef',_'apr')
 + 86 var_('bread',_'apr') + 45 var_('carrots',_'apr')
 + 78 var_('cheese',_'apr') + 185 var_('chicken',_'apr')
 + 150 var_('eggs',_'apr') + 129 var_('milk',_'apr')
 + 80 var_('onions',_'apr') + 60 var_('oranges',_'apr')
 + 100 var_('potatoes',_'apr') + 120 var_('salmon',_'apr')
 + 50 var_('tomatoes',_'apr') <= 3485.56216

may_calories: 70 var_('apple',_'may') + 95 var_('bacon',_'may')
 + 85 var_('bananas',_'may') + 245 var_('beef',_'may')
 + 86 var_('bread',_'may') + 45 var_('carrots',_'may')
 + 78 var_('cheese',_'may') + 185 var_('chicken',_'may')
 + 150 var_('eggs',_'may') + 129 var_('milk',_'may')
 + 80 var_('onions',_'may') + 60 var_('oranges',_'may')
 + 100 var_('potatoes',_'may') + 120 var_('salmon',_'may')
 + 50 var_('tomatoes',_'may') <= 3485.56216

jun_calories: 70 var_('apple',_'jun') + 95 var_('bacon',_'jun')
 + 85 var_('bananas',_'jun') + 245 var_('beef',_'jun')
 + 86 var_('bread',_'jun') + 45 var_('carrots',_'jun')
 + 78 var_('cheese',_'jun') + 185 var_('chicken',_'jun')
 + 150 var_('eggs',_'jun') + 129 var_('milk',_'jun')
 + 80 var_('onions',_'jun') + 60 var_('oranges',_'jun')
 + 100 var_('potatoes',_'jun') + 120 var_('salmon',_'jun')
 + 50 var_('tomatoes',_'jun') <= 3485.56216

jul_calories: 70 var_('apple',_'jul') + 95 var_('bacon',_'jul')
 + 85 var_('bananas',_'jul') + 245 var_('beef',_'jul')
 + 86 var_('bread',_'jul') + 45 var_('carrots',_'jul')
 + 78 var_('cheese',_'jul') + 185 var_('chicken',_'jul')
 + 150 var_('eggs',_'jul') + 129 var_('milk',_'jul')
 + 80 var_('onions',_'jul') + 60 var_('oranges',_'jul')
 + 100 var_('potatoes',_'jul') + 120 var_('salmon',_'jul')
 + 50 var_('tomatoes',_'jul') <= 3485.56216

aug_calories: 70 var_('apple',_'aug') + 95 var_('bacon',_'aug')
 + 85 var_('bananas',_'aug') + 245 var_('beef',_'aug')
 + 86 var_('bread',_'aug') + 45 var_('carrots',_'aug')
 + 78 var_('cheese',_'aug') + 185 var_('chicken',_'aug')
 + 150 var_('eggs',_'aug') + 129 var_('milk',_'aug')
 + 80 var_('onions',_'aug') + 60 var_('oranges',_'aug')
 + 100 var_('potatoes',_'aug') + 120 var_('salmon',_'aug')
 + 50 var_('tomatoes',_'aug') <= 3485.56216

sept_calories: 70 var_('apple',_'sept') + 95 var_('bacon',_'sept')
 + 85 var_('bananas',_'sept') + 245 var_('beef',_'sept')
 + 86 var_('bread',_'sept') + 45 var_('carrots',_'sept')
 + 78 var_('cheese',_'sept') + 185 var_('chicken',_'sept')
 + 150 var_('eggs',_'sept') + 129 var_('milk',_'sept')
 + 80 var_('onions',_'sept') + 60 var_('oranges',_'sept')
 + 100 var_('potatoes',_'sept') + 120 var_('salmon',_'sept')
 + 50 var_('tomatoes',_'sept') <= 3485.56216

oct_calories: 70 var_('apple',_'oct') + 95 var_('bacon',_'oct')
 + 85 var_('bananas',_'oct') + 245 var_('beef',_'oct')
 + 86 var_('bread',_'oct') + 45 var_('carrots',_'oct')
 + 78 var_('cheese',_'oct') + 185 var_('chicken',_'oct')
 + 150 var_('eggs',_'oct') + 129 var_('milk',_'oct')
 + 80 var_('onions',_'oct') + 60 var_('oranges',_'oct')
 + 100 var_('potatoes',_'oct') + 120 var_('salmon',_'oct')
 + 50 var_('tomatoes',_'oct') <= 3485.56216

nov_calories: 70 var_('apple',_'nov') + 95 var_('bacon',_'nov')
 + 85 var_('bananas',_'nov') + 245 var_('beef',_'nov')
 + 86 var_('bread',_'nov') + 45 var_('carrots',_'nov')
 + 78 var_('cheese',_'nov') + 185 var_('chicken',_'nov')
 + 150 var_('eggs',_'nov') + 129 var_('milk',_'nov')
 + 80 var_('onions',_'nov') + 60 var_('oranges',_'nov')
 + 100 var_('potatoes',_'nov') + 120 var_('salmon',_'nov')
 + 50 var_('tomatoes',_'nov') <= 3485.56216

dec_calories: 70 var_('apple',_'dec') + 95 var_('bacon',_'dec')
 + 85 var_('bananas',_'dec') + 245 var_('beef',_'dec')
 + 86 var_('bread',_'dec') + 45 var_('carrots',_'dec')
 + 78 var_('cheese',_'dec') + 185 var_('chicken',_'dec')
 + 150 var_('eggs',_'dec') + 129 var_('milk',_'dec')
 + 80 var_('onions',_'dec') + 60 var_('oranges',_'dec')
 + 100 var_('potatoes',_'dec') + 120 var_('salmon',_'dec')
 + 50 var_('tomatoes',_'dec') <= 3485.56216

jan_carbs: 18 var_('apple',_'jan') + var_('bacon',_'jan')
 + 23 var_('bananas',_'jan') + 16 var_('bread',_'jan')
 + 10 var_('carrots',_'jan') + 12 var_('milk',_'jan')
 + 18 var_('onions',_'jan') + 16 var_('oranges',_'jan')
 + 22 var_('potatoes',_'jan') + 9 var_('tomatoes',_'jan') <= 130

feb_carbs: 18 var_('apple',_'feb') + var_('bacon',_'feb')
 + 23 var_('bananas',_'feb') + 16 var_('bread',_'feb')
 + 10 var_('carrots',_'feb') + 12 var_('milk',_'feb')
 + 18 var_('onions',_'feb') + 16 var_('oranges',_'feb')
 + 22 var_('potatoes',_'feb') + 9 var_('tomatoes',_'feb') <= 130

mar_carbs: 18 var_('apple',_'mar') + var_('bacon',_'mar')
 + 23 var_('bananas',_'mar') + 16 var_('bread',_'mar')
 + 10 var_('carrots',_'mar') + 12 var_('milk',_'mar')
 + 18 var_('onions',_'mar') + 16 var_('oranges',_'mar')
 + 22 var_('potatoes',_'mar') + 9 var_('tomatoes',_'mar') <= 130

apr_carbs: 18 var_('apple',_'apr') + var_('bacon',_'apr')
 + 23 var_('bananas',_'apr') + 16 var_('bread',_'apr')
 + 10 var_('carrots',_'apr') + 12 var_('milk',_'apr')
 + 18 var_('onions',_'apr') + 16 var_('oranges',_'apr')
 + 22 var_('potatoes',_'apr') + 9 var_('tomatoes',_'apr') <= 130

may_carbs: 18 var_('apple',_'may') + var_('bacon',_'may')
 + 23 var_('bananas',_'may') + 16 var_('bread',_'may')
 + 10 var_('carrots',_'may') + 12 var_('milk',_'may')
 + 18 var_('onions',_'may') + 16 var_('oranges',_'may')
 + 22 var_('potatoes',_'may') + 9 var_('tomatoes',_'may') <= 130

jun_carbs: 18 var_('apple',_'jun') + var_('bacon',_'jun')
 + 23 var_('bananas',_'jun') + 16 var_('bread',_'jun')
 + 10 var_('carrots',_'jun') + 12 var_('milk',_'jun')
 + 18 var_('onions',_'jun') + 16 var_('oranges',_'jun')
 + 22 var_('potatoes',_'jun') + 9 var_('tomatoes',_'jun') <= 130

jul_carbs: 18 var_('apple',_'jul') + var_('bacon',_'jul')
 + 23 var_('bananas',_'jul') + 16 var_('bread',_'jul')
 + 10 var_('carrots',_'jul') + 12 var_('milk',_'jul')
 + 18 var_('onions',_'jul') + 16 var_('oranges',_'jul')
 + 22 var_('potatoes',_'jul') + 9 var_('tomatoes',_'jul') <= 130

aug_carbs: 18 var_('apple',_'aug') + var_('bacon',_'aug')
 + 23 var_('bananas',_'aug') + 16 var_('bread',_'aug')
 + 10 var_('carrots',_'aug') + 12 var_('milk',_'aug')
 + 18 var_('onions',_'aug') + 16 var_('oranges',_'aug')
 + 22 var_('potatoes',_'aug') + 9 var_('tomatoes',_'aug') <= 130

sept_carbs: 18 var_('apple',_'sept') + var_('bacon',_'sept')
 + 23 var_('bananas',_'sept') + 16 var_('bread',_'sept')
 + 10 var_('carrots',_'sept') + 12 var_('milk',_'sept')
 + 18 var_('onions',_'sept') + 16 var_('oranges',_'sept')
 + 22 var_('potatoes',_'sept') + 9 var_('tomatoes',_'sept') <= 130

oct_carbs: 18 var_('apple',_'oct') + var_('bacon',_'oct')
 + 23 var_('bananas',_'oct') + 16 var_('bread',_'oct')
 + 10 var_('carrots',_'oct') + 12 var_('milk',_'oct')
 + 18 var_('onions',_'oct') + 16 var_('oranges',_'oct')
 + 22 var_('potatoes',_'oct') + 9 var_('tomatoes',_'oct') <= 130

nov_carbs: 18 var_('apple',_'nov') + var_('bacon',_'nov')
 + 23 var_('bananas',_'nov') + 16 var_('bread',_'nov')
 + 10 var_('carrots',_'nov') + 12 var_('milk',_'nov')
 + 18 var_('onions',_'nov') + 16 var_('oranges',_'nov')
 + 22 var_('potatoes',_'nov') + 9 var_('tomatoes',_'nov') <= 130

dec_carbs: 18 var_('apple',_'dec') + var_('bacon',_'dec')
 + 23 var_('bananas',_'dec') + 16 var_('bread',_'dec')
 + 10 var_('carrots',_'dec') + 12 var_('milk',_'dec')
 + 18 var_('onions',_'dec') + 16 var_('oranges',_'dec')
 + 22 var_('potatoes',_'dec') + 9 var_('tomatoes',_'dec') <= 130

jan_pros: 4 var_('bacon',_'jan') + var_('bananas',_'jan')
 + 23 var_('beef',_'jan') + 3 var_('bread',_'jan') + var_('carrots',_'jan')
 + 5 var_('cheese',_'jan') + 23 var_('chicken',_'jan')
 + 12 var_('eggs',_'jan') + 9 var_('milk',_'jan') + 2 var_('onions',_'jan')
 + 2 var_('oranges',_'jan') + 2 var_('potatoes',_'jan')
 + 17 var_('salmon',_'jan') + 2 var_('tomatoes',_'jan') <= 56

feb_pros: 4 var_('bacon',_'feb') + var_('bananas',_'feb')
 + 23 var_('beef',_'feb') + 3 var_('bread',_'feb') + var_('carrots',_'feb')
 + 5 var_('cheese',_'feb') + 23 var_('chicken',_'feb')
 + 12 var_('eggs',_'feb') + 9 var_('milk',_'feb') + 2 var_('onions',_'feb')
 + 2 var_('oranges',_'feb') + 2 var_('potatoes',_'feb')
 + 17 var_('salmon',_'feb') + 2 var_('tomatoes',_'feb') <= 56

mar_pros: 4 var_('bacon',_'mar') + var_('bananas',_'mar')
 + 23 var_('beef',_'mar') + 3 var_('bread',_'mar') + var_('carrots',_'mar')
 + 5 var_('cheese',_'mar') + 23 var_('chicken',_'mar')
 + 12 var_('eggs',_'mar') + 9 var_('milk',_'mar') + 2 var_('onions',_'mar')
 + 2 var_('oranges',_'mar') + 2 var_('potatoes',_'mar')
 + 17 var_('salmon',_'mar') + 2 var_('tomatoes',_'mar') <= 56

apr_pros: 4 var_('bacon',_'apr') + var_('bananas',_'apr')
 + 23 var_('beef',_'apr') + 3 var_('bread',_'apr') + var_('carrots',_'apr')
 + 5 var_('cheese',_'apr') + 23 var_('chicken',_'apr')
 + 12 var_('eggs',_'apr') + 9 var_('milk',_'apr') + 2 var_('onions',_'apr')
 + 2 var_('oranges',_'apr') + 2 var_('potatoes',_'apr')
 + 17 var_('salmon',_'apr') + 2 var_('tomatoes',_'apr') <= 56

may_pros: 4 var_('bacon',_'may') + var_('bananas',_'may')
 + 23 var_('beef',_'may') + 3 var_('bread',_'may') + var_('carrots',_'may')
 + 5 var_('cheese',_'may') + 23 var_('chicken',_'may')
 + 12 var_('eggs',_'may') + 9 var_('milk',_'may') + 2 var_('onions',_'may')
 + 2 var_('oranges',_'may') + 2 var_('potatoes',_'may')
 + 17 var_('salmon',_'may') + 2 var_('tomatoes',_'may') <= 56

jun_pros: 4 var_('bacon',_'jun') + var_('bananas',_'jun')
 + 23 var_('beef',_'jun') + 3 var_('bread',_'jun') + var_('carrots',_'jun')
 + 5 var_('cheese',_'jun') + 23 var_('chicken',_'jun')
 + 12 var_('eggs',_'jun') + 9 var_('milk',_'jun') + 2 var_('onions',_'jun')
 + 2 var_('oranges',_'jun') + 2 var_('potatoes',_'jun')
 + 17 var_('salmon',_'jun') + 2 var_('tomatoes',_'jun') <= 56

jul_pros: 4 var_('bacon',_'jul') + var_('bananas',_'jul')
 + 23 var_('beef',_'jul') + 3 var_('bread',_'jul') + var_('carrots',_'jul')
 + 5 var_('cheese',_'jul') + 23 var_('chicken',_'jul')
 + 12 var_('eggs',_'jul') + 9 var_('milk',_'jul') + 2 var_('onions',_'jul')
 + 2 var_('oranges',_'jul') + 2 var_('potatoes',_'jul')
 + 17 var_('salmon',_'jul') + 2 var_('tomatoes',_'jul') <= 56

aug_pros: 4 var_('bacon',_'aug') + var_('bananas',_'aug')
 + 23 var_('beef',_'aug') + 3 var_('bread',_'aug') + var_('carrots',_'aug')
 + 5 var_('cheese',_'aug') + 23 var_('chicken',_'aug')
 + 12 var_('eggs',_'aug') + 9 var_('milk',_'aug') + 2 var_('onions',_'aug')
 + 2 var_('oranges',_'aug') + 2 var_('potatoes',_'aug')
 + 17 var_('salmon',_'aug') + 2 var_('tomatoes',_'aug') <= 56

sept_pros: 4 var_('bacon',_'sept') + var_('bananas',_'sept')
 + 23 var_('beef',_'sept') + 3 var_('bread',_'sept') + var_('carrots',_'sept')
 + 5 var_('cheese',_'sept') + 23 var_('chicken',_'sept')

# Model & Solution

In [62]:
prob.solve()
print("Status:", LpStatus[prob.status])

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /Users/amy/miniforge3/lib/python3.9/site-packages/pulp/solverdir/cbc/osx/64/cbc /var/folders/np/zm_c7bn14sd2z1b26gb12cwh0000gn/T/a6af4f5baf384f4693752f6b4527fe14-pulp.mps max timeMode elapsed branch printingOptions all solution /var/folders/np/zm_c7bn14sd2z1b26gb12cwh0000gn/T/a6af4f5baf384f4693752f6b4527fe14-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 185 COLUMNS
At line 1110 RHS
At line 1291 BOUNDS
At line 1292 ENDATA
Problem MODEL has 180 rows, 180 columns and 744 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Presolve 48 (-132) rows, 180 (0) columns and 564 (-180) elements
0  Obj 12.689328 Dual inf 17.535269 (180)
24  Obj 45.561839
Optimal - objective value 45.561839
After Postsolve, objective 45.561839, infeasibilities - dual 0 (0), primal 0 (0)
Optimal objective 45.56183874 - 24 iterations time 0.002, Presolve 0.00
Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.00

Status: Optimal

In [63]:
results = []

In [64]:
for a in prob.variables():
    results.append(a.varValue)

In [65]:
results_df = pd.DataFrame(columns=["January", "Feburary", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])

In [66]:
results_df = pd.concat([names, results_df])

In [67]:
# apples
results_df.iloc[0,1] = results[4]
results_df.iloc[0,2] = results[3]
results_df.iloc[0,3] = results[6] #mar
results_df.iloc[0,4] = results[1]
results_df.iloc[0,5] = results[7]
results_df.iloc[0,6] = results[6] #jun
results_df.iloc[0,7] = results[5]
results_df.iloc[0,8] = results[2]
results_df.iloc[0,9] = results[11] #sept
results_df.iloc[0,10] = results[10]
results_df.iloc[0,11] = results[9] #nov
results_df.iloc[0,12] = results[3]

# bacon
m=1
results_df.iloc[1,  1] = results[4+(12*m)]
results_df.iloc[1,  2] = results[3+(12*m)]
results_df.iloc[1,  3] = results[6+(12*m)] #mar
results_df.iloc[1,  4] = results[1+(12*m)]
results_df.iloc[1,  5] = results[7+(12*m)]
results_df.iloc[1, 6] = results[6+(12*m)] #jun
results_df.iloc[1, 7] = results[5+(12*m)]
results_df.iloc[1, 8] = results[2+(12*m)]
results_df.iloc[1, 9] = results[11+(12*m)] #sept
results_df.iloc[1, 10] = results[10+(12*m)]
results_df.iloc[1, 11] = results[9+(12*m)] #nov
results_df.iloc[1, 12] = results[3+(12*m)]

# bananas
m=2
results_df.iloc[2,  1] = results[4+(12*m)]
results_df.iloc[2,  2] = results[3+(12*m)]
results_df.iloc[2,  3] = results[6+(12*m)] #mar
results_df.iloc[2,  4] = results[1+(12*m)]
results_df.iloc[2,  5] = results[7+(12*m)]
results_df.iloc[2,  6] = results[6+(12*m)] #jun
results_df.iloc[2,  7] = results[5+(12*m)]
results_df.iloc[2,  8] = results[2+(12*m)]
results_df.iloc[2,  9] = results[11+(12*m)] #sept
results_df.iloc[2,  10] = results[10+(12*m)]
results_df.iloc[2,  11] = results[9+(12*m)] #nov
results_df.iloc[2,  12] = results[3+(12*m)]

# bread
m=4
results_df.iloc[3, 1] = results[4+(12*m)]
results_df.iloc[3, 2] = results[3+(12*m)]
results_df.iloc[3, 3] = results[6+(12*m)] #mar
results_df.iloc[3, 4] = results[1+(12*m)]
results_df.iloc[3, 5] = results[7+(12*m)]
results_df.iloc[3, 6] = results[6+(12*m)] #jun
results_df.iloc[3, 7] = results[5+(12*m)]
results_df.iloc[3, 8] = results[2+(12*m)]
results_df.iloc[3, 9] = results[11+(12*m)] #sept
results_df.iloc[3, 10] = results[10+(12*m)]
results_df.iloc[3, 11] = results[9+(12*m)] #nov
results_df.iloc[3, 12] = results[3+(12*m)]

# salmon
m=13
results_df.iloc[4,  1] = results[4+(12*m)]
results_df.iloc[4,  2] = results[3+(12*m)]
results_df.iloc[4,  3] = results[6+(12*m)] #mar
results_df.iloc[4,  4] = results[1+(12*m)]
results_df.iloc[4,  5] = results[7+(12*m)]
results_df.iloc[4,  6] = results[6+(12*m)] #jun
results_df.iloc[4,  7] = results[5+(12*m)]
results_df.iloc[4,  8] = results[2+(12*m)]
results_df.iloc[4,  9] = results[11+(12*m)] #sept
results_df.iloc[4,  10] = results[10+(12*m)]
results_df.iloc[4,  11] = results[9+(12*m)] #nov
results_df.iloc[4,  12] = results[3+(12*m)]

# tomatoes
m=14
results_df.iloc[5,  1] = results[4+(12*m)]
results_df.iloc[5,  2] = results[3+(12*m)]
results_df.iloc[5,  3] = results[6+(12*m)] #mar
results_df.iloc[5,  4] = results[1+(12*m)]
results_df.iloc[5,  5] = results[7+(12*m)]
results_df.iloc[5,  6] = results[6+(12*m)] #jun
results_df.iloc[5,  7] = results[5+(12*m)]
results_df.iloc[5,  8] = results[2+(12*m)]
results_df.iloc[5,  9] = results[11+(12*m)] #sept
results_df.iloc[5,  10] = results[10+(12*m)]
results_df.iloc[5,  11] = results[9+(12*m)] #nov
results_df.iloc[5,  12] = results[3+(12*m)]

# carrots
m=5
results_df.iloc[6,  1] = results[4+(12*m)]
results_df.iloc[6,  2] = results[3+(12*m)]
results_df.iloc[6,  3] = results[6+(12*m)] #mar
results_df.iloc[6,  4] = results[1+(12*m)]
results_df.iloc[6,  5] = results[7+(12*m)]
results_df.iloc[6,  6] = results[6+(12*m)] #jun
results_df.iloc[6,  7] = results[5+(12*m)]
results_df.iloc[6,  8] = results[2+(12*m)]
results_df.iloc[6,  9] = results[11+(12*m)] #sept
results_df.iloc[6,  10] = results[10+(12*m)]
results_df.iloc[6,  11] = results[9+(12*m)] #nov
results_df.iloc[6,  12] = results[3+(12*m)]

# chicken
m=7
results_df.iloc[7,  1] = results[4+(12*m)]
results_df.iloc[7,  2] = results[3+(12*m)]
results_df.iloc[7,  3] = results[6+(12*m)] #mar
results_df.iloc[7,  4] = results[1+(12*m)]
results_df.iloc[7,  5] = results[7+(12*m)]
results_df.iloc[7,  6] = results[6+(12*m)] #jun
results_df.iloc[7,  7] = results[5+(12*m)]
results_df.iloc[7,  8] = results[2+(12*m)]
results_df.iloc[7,  9] = results[11+(12*m)] #sept
results_df.iloc[7,  10] = results[10+(12*m)]
results_df.iloc[7,  11] = results[9+(12*m)] #nov
results_df.iloc[7,  12] = results[3+(12*m)]

# eggs
m=8
results_df.iloc[8,  1] = results[4+(12*m)]
results_df.iloc[8,  2] = results[3+(12*m)]
results_df.iloc[8,  3] = results[6+(12*m)] #mar
results_df.iloc[8,  4] = results[1+(12*m)]
results_df.iloc[8,  5] = results[7+(12*m)]
results_df.iloc[8,  6] = results[6+(12*m)] #jun
results_df.iloc[8,  7] = results[5+(12*m)]
results_df.iloc[8,  8] = results[2+(12*m)]
results_df.iloc[8,  9] = results[11+(12*m)] #sept
results_df.iloc[8,  10] = results[10+(12*m)]
results_df.iloc[8,  11] = results[9+(12*m)] #nov
results_df.iloc[8,  12] = results[3+(12*m)]

# beef
m=3
results_df.iloc[9,  1] = results[4+(12*m)]
results_df.iloc[9,  2] = results[3+(12*m)]
results_df.iloc[9,  3] = results[6+(12*m)] #mar
results_df.iloc[9,  4] = results[1+(12*m)]
results_df.iloc[9,  5] = results[7+(12*m)]
results_df.iloc[9,  6] = results[6+(12*m)] #jun
results_df.iloc[9,  7] = results[5+(12*m)]
results_df.iloc[9,  8] = results[2+(12*m)]
results_df.iloc[9,  9] = results[11+(12*m)] #sept
results_df.iloc[9,  10] = results[10+(12*m)]
results_df.iloc[9,  11] = results[9+(12*m)] #nov
results_df.iloc[9,  12] = results[3+(12*m)]

# onions
m=10
results_df.iloc[10,  1] = results[4+(12*m)]
results_df.iloc[10,  2] = results[3+(12*m)]
results_df.iloc[10,  3] = results[6+(12*m)] #mar
results_df.iloc[10,  4] = results[1+(12*m)]
results_df.iloc[10,  5] = results[7+(12*m)]
results_df.iloc[10,  6] = results[6+(12*m)] #jun
results_df.iloc[10,  7] = results[5+(12*m)]
results_df.iloc[10,  8] = results[2+(12*m)]
results_df.iloc[10,  9] = results[11+(12*m)] #sept
results_df.iloc[10,  10] = results[10+(12*m)]
results_df.iloc[10,  11] = results[9+(12*m)] #nov
results_df.iloc[10,  12] = results[3+(12*m)]

# oranges
m= 11
results_df.iloc[11,  1] = results[4+(12*m)]
results_df.iloc[11,  2] = results[3+(12*m)]
results_df.iloc[11,  3] = results[6+(12*m)] #mar
results_df.iloc[11,  4] = results[1+(12*m)]
results_df.iloc[11,  5] = results[7+(12*m)]
results_df.iloc[11,  6] = results[6+(12*m)] #jun
results_df.iloc[11,  7] = results[5+(12*m)]
results_df.iloc[11,  8] = results[2+(12*m)]
results_df.iloc[11,  9] = results[11+(12*m)] #sept
results_df.iloc[11,  10] = results[10+(12*m)]
results_df.iloc[11,  11] = results[9+(12*m)] #nov
results_df.iloc[11,  12] = results[3+(12*m)]

# milk
m=9
results_df.iloc[12,  1] = results[4+(12*m)]
results_df.iloc[12,  2] = results[3+(12*m)]
results_df.iloc[12,  3] = results[6+(12*m)] #mar
results_df.iloc[12,  4] = results[1+(12*m)]
results_df.iloc[12,  5] = results[7+(12*m)]
results_df.iloc[12,  6] = results[6+(12*m)] #jun
results_df.iloc[12,  7] = results[5+(12*m)]
results_df.iloc[12,  8] = results[2+(12*m)]
results_df.iloc[12,  9] = results[11+(12*m)] #sept
results_df.iloc[12,  10] = results[10+(12*m)]
results_df.iloc[12,  11] = results[9+(12*m)] #nov
results_df.iloc[12,  12] = results[3+(12*m)]

# potatoes
m=12
results_df.iloc[13,  1] = results[4+(12*m)]
results_df.iloc[13,  2] = results[3+(12*m)]
results_df.iloc[13,  3] = results[6+(12*m)] #mar
results_df.iloc[13,  4] = results[1+(12*m)]
results_df.iloc[13,  5] = results[7+(12*m)]
results_df.iloc[13,  6] = results[6+(12*m)] #jun
results_df.iloc[13,  7] = results[5+(12*m)]
results_df.iloc[13,  8] = results[2+(12*m)]
results_df.iloc[13,  9] = results[11+(12*m)] #sept
results_df.iloc[13,  10] = results[10+(12*m)]
results_df.iloc[13,  11] = results[9+(12*m)] #nov
results_df.iloc[13,  12] = results[3+(12*m)]

# cheese
m=6
results_df.iloc[14,  1] = results[4+(12*m)]
results_df.iloc[14,  2] = results[3+(12*m)]
results_df.iloc[14,  3] = results[6+(12*m)] #mar
results_df.iloc[14,  4] = results[1+(12*m)]
results_df.iloc[14,  5] = results[7+(12*m)]
results_df.iloc[14,  6] = results[6+(12*m)] #jun
results_df.iloc[14,  7] = results[5+(12*m)]
results_df.iloc[14,  8] = results[2+(12*m)]
results_df.iloc[14,  9] = results[11+(12*m)] #sept
results_df.iloc[14,  10] = results[10+(12*m)]
results_df.iloc[14,  11] = results[9+(12*m)] #nov
results_df.iloc[14,  12] = results[3+(12*m)]

In [68]:
print(gender)
print(diet)
print("Objective function z = %s"%(value(prob.objective)))

# for a in prob.variables():
#     print(a.name, "=", a.varValue)

male
meat
Objective function z = 45.56183866423525

In [69]:
results_df

,Food,January,Feburary,March,April,May,June,July,August,September,October,November,December
0,Apples,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,Bacon,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
2,Bananas,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,Bread,0.75,0.75,0.75,0.75,0.75,0.75,0.75,0.75,0.75,0.75,0.75,0.75
4,Canned salmon,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Canned tomatoes,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
6,Carrots,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
7,Chicken,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,Eggs,2.146,2.146,2.146,2.146,2.146,2.146,2.146,2.146,2.146,2.146,2.146,2.146
9,Ground beef,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,Onions,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
11,Oranges,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
12,Partly skimmed milk,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,Potatoes,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
14,Processed cheese slices,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0

In [70]:
results_summary = results_df.iloc[:, 0:2]
results_summary.columns = ["Food", "Daily Amount"]
results_summary

                       Food Daily Amount
0                    Apples          1.0
1                     Bacon          2.0
2                   Bananas          1.0
3                     Bread         0.75
4             Canned salmon          0.0
5           Canned tomatoes          1.0
6                   Carrots          1.0
7                   Chicken          0.0
8                      Eggs        2.146
9               Ground beef          0.0
10                   Onions          1.0
11                  Oranges          1.0
12      Partly skimmed milk          0.0
13                 Potatoes          1.0
14  Processed cheese slices          2.0

In [71]:
print(results_summary.to_latex(index=False))

\begin{tabular}{ll}
\toprule
                   Food & Daily Amount \\
\midrule
                 Apples &          1.0 \\
                  Bacon &          2.0 \\
                Bananas &          1.0 \\
                  Bread &         0.75 \\
          Canned salmon &          0.0 \\
        Canned tomatoes &          1.0 \\
                Carrots &          1.0 \\
                Chicken &          0.0 \\
                   Eggs &        2.146 \\
            Ground beef &          0.0 \\
                 Onions &          1.0 \\
                Oranges &          1.0 \\
    Partly skimmed milk &          0.0 \\
               Potatoes &          1.0 \\
Processed cheese slices &          2.0 \\
\bottomrule
\end{tabular}

/var/folders/np/zm_c7bn14sd2z1b26gb12cwh0000gn/T/ipykernel_89241/2065025010.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(results_summary.to_latex(index=False))

In [72]:
monthly_result = results_df.iloc[: , 1:2]*30
food_df = results_df.iloc[:, 0:1]

In [73]:
monthly_result = pd.concat([food_df, monthly_result], axis=1, join='inner')
monthly_result.columns = ["Food", "Monthly Amount"]
monthly_result

                       Food Monthly Amount
0                    Apples           30.0
1                     Bacon           60.0
2                   Bananas           30.0
3                     Bread           22.5
4             Canned salmon            0.0
5           Canned tomatoes           30.0
6                   Carrots           30.0
7                   Chicken            0.0
8                      Eggs         64.375
9               Ground beef            0.0
10                   Onions           30.0
11                  Oranges           30.0
12      Partly skimmed milk            0.0
13                 Potatoes           30.0
14  Processed cheese slices           60.0

In [74]:
print(monthly_result.to_latex(index=False))

\begin{tabular}{ll}
\toprule
                   Food & Monthly Amount \\
\midrule
                 Apples &           30.0 \\
                  Bacon &           60.0 \\
                Bananas &           30.0 \\
                  Bread &           22.5 \\
          Canned salmon &            0.0 \\
        Canned tomatoes &           30.0 \\
                Carrots &           30.0 \\
                Chicken &            0.0 \\
                   Eggs &         64.375 \\
            Ground beef &            0.0 \\
                 Onions &           30.0 \\
                Oranges &           30.0 \\
    Partly skimmed milk &            0.0 \\
               Potatoes &           30.0 \\
Processed cheese slices &           60.0 \\
\bottomrule
\end{tabular}

/var/folders/np/zm_c7bn14sd2z1b26gb12cwh0000gn/T/ipykernel_89241/3557051802.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(monthly_result.to_latex(index=False))